:root {
  /* Colors */
  --clr-soft-orange: 35 77% 62%;
  --clr-soft-red: 5 85% 63%;
  --clr-off-white: 36 100% 99%;
  --clr-grayish-blue: 233 8% 79%;
  --clr-dark-grayish-blue: 236 13% 42%;
  --clr-very-dark-blue: 240 100% 5%;

  /* Bootstrap variables */
  --bs-body-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --bs-body-font-size: 15px;
  --bs-body-color: hsl(var(--clr-very-dark-blue));
  --bs-body-bg: hsl(var(--clr-off-white));
}

img {
  width: 100%;
  height: auto;
}

.container {
  /* Remove excess inline padding here since we'll set it on the parent */
  --bs-gutter-x: 0;
}

@media (min-width: 1200px) {
  .container {
    /* Set the max-width for all containers starting from the lg breakpoint */
    max-width: 1110px;
  }
}

/* HEADER */

header {
  /* Define fluid spacing that grows from 28px at 375w to 89px at 1440w */
  --space-top: clamp(1.75rem, 0.4076rem + 5.7277vw, 5.5625rem);
  /* and another that grows from 32px at 375w to 55px at 1440w */
  --space-bottom: clamp(2rem, 1.4938rem + 2.1596vw, 3.4375rem);
}

/* NAVBAR */

.navbar {
  --bs-navbar-padding-x: 16px;
  --bs-navbar-padding-y: 28px;
  --bs-navbar-color: hsl(var(--clr-very-dark-blue));
  --bs-navbar-hover-color: hsl(var(--clr-soft-red));
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-toggler-padding-x: 4px;
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-border-color: transparent;
  padding-top: var(--space-top);
  padding-bottom: var(--space-bottom);
}

.navbar-brand {
  /* Grow from 46px wide at 375w to 65px wide at 1143w */
  width: clamp(2.875rem, 2.2952rem + 2.474vw, 4.0625rem);
}

.navbar-toggler {
  align-self: stretch;
}

.navbar-nav {
  column-gap: 38px;
  row-gap: 26px;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-size: 18px;
}

@media (min-width: 768px) {
  .navbar-nav {
    --bs-nav-link-font-size: 16px;
  }
}

/* MOBILE NAV */

.offcanvas {
  --bs-offcanvas-width: 256px;
}

.offcanvas-header {
  padding-inline: 15px;
  padding-block-start: calc(var(--space-top) - 5px);
}

.offcanvas-header .btn {
  padding: 4px;
  --bs-btn-bg: transparent;
  --bs-btn-color: hsl(var(--clr-very-dark-blue));
  --bs-btn-border-color: transparent;
}

.offcanvas-body {
  padding-inline: 24px;
  padding-block-start: 71px;
}

/* MAIN */

main {
  padding-inline: 16px;
}

.s-atl {
  row-gap: 64px;
}

/* FEATURED SECTION */

.s-featured .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.s-featured .text {
  margin-top: 24px;
}

.s-featured h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 16px;
}

.s-featured p {
  margin-bottom: 24px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .s-featured .banner {
    height: 300px;
  }

  .s-featured .text {
    column-gap: 80px;
    margin-top: 31px;
  }

  .s-featured h2 {
    font-size: 56px;
    min-width: 300px;
    margin-bottom: 0;
  }

  .s-featured p {
    line-height: 1.6;
  }
}

.btn-primary {
  padding-inline: 31px 36px;
  padding-block: 16px 15px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 1;
  letter-spacing: 4.34px;
  text-transform: uppercase;
  --bs-btn-bg: hsl(var(--clr-soft-red));
  --bs-btn-hover-bg: hsl(var(--clr-very-dark-blue));
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-border-radius: 0;
}

/* NEW ARTICLES SECTION */

.s-new {
  background-color: hsl(var(--clr-very-dark-blue));
  color: hsl(var(--clr-off-white));
  padding: 21px 21px 24px;
}

.s-new h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  color: hsl(var(--clr-soft-orange));
  margin-bottom: 31px;
}

.s-new article + article::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: hsl(var(--clr-off-white));
  opacity: 0.5;
  margin-block: 30px;
}

.s-new article h3 {
  font-weight: 700;
  font-size: 20px;
}

.s-new article a {
  color: inherit;
  text-decoration: none;
}

.s-new article a:hover {
  color: hsl(var(--clr-soft-orange));
}

.s-new p {
  margin-bottom: 0;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .s-new {
    padding: 28px 25px 32px 24px;
  }

  .s-new h2 {
    font-size: 40px;
    margin-bottom: 29px;
  }
}

/* Switch above-the-fold section to 2-column layout on the large breakpoint */
@media (min-width: 992px) {
  .s-atl {
    justify-content: space-between;
  }

  .s-featured {
    width: 65.7%;
  }

  .s-new {
    width: 31.5%;
  }
}

/* TOP ARTICLES SECTION */

.s-top {
  margin-block: 64px 80px;
}

@media (min-width: 768px) {
  .s-top {
    margin-top: 72px;
  }
}

.s-top ul {
  padding-inline-start: 0;
  margin-bottom: 0;
  list-style-type: none;
  row-gap: 34px;
  column-gap: 37px;
  margin-inline: 0;
  counter-reset: toparticles;
}

.s-top ul > * {
  /* Remove inline padding */
  --bs-gutter-x: 0;
}

.s-top article {
  column-gap: 24px;
  align-items: flex-end;
  justify-content: center;
}

.s-top article .thumb {
  flex: 1 0 100px;
  max-width: 200px;
}

.s-top article .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-top article .text {
  max-width: 327px;
}

.s-top article h3::before {
  counter-increment: toparticles;
  content: "0" counter(toparticles);
  position: absolute;
  translate: 0 calc(-100% - 9px);
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  color: hsl(var(--clr-grayish-blue));
}

.s-top article h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.18px;
  margin-bottom: 10px;
  position: relative;
}

.s-top article h3 a {
  color: inherit;
  text-decoration: none;
}

.s-top article h3 a:hover {
  color: hsl(var(--clr-soft-red));
}

.s-top article p {
  line-height: 1.7;
  margin-bottom: 0;
}

/* Adjust layout of top articles on smaller screens */
@media (max-width: 366px) {
  .s-top article {
    flex-direction: column;
    row-gap: 16px;
  }

  .s-top article .thumb {
    width: 100%;
    max-width: unset;
    aspect-ratio: 2 / 1;
  }

  .s-top article h3::before {
    display: none;
  }
}
